{% extends "base.html" %}

{% load dajaxice_templatetags %}


{% block header_extra %}

<style type="text/css">
    .modal-dialog {
  width: 80%;
  height: 80%;
  margin: auto;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}
</style>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxjt9ea6Rtd8MMfMyNzNk-FcEIezm1YWE"></script>
    <script>
var map;
var markers = [];
var locations = [];
var updateClustersEnabled=true;
function initialize() {
    var mapOptions = {
        zoom: 11,
        center: { lat:  35.16, lng: -97.27},
        // center: new google.maps.LatLng(-97.27, 35.21)
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
    updateClustersInit(null)

    function updateClustersInit(event) {
        Dajaxice.maps.clusters(my_js_callback);
    }
    function clearMarkers(){
        for (var i =0;i<markers.length;i++){
            markers[i].setMap(null);
        }
        markers=[]
        locations=[]
    }
    function updateClusters(event) {
        if (updateClustersEnabled){
            clearMarkers();
            var bounds= [map.getBounds().va.j,  map.getBounds().Da.A,map.getBounds().va.A, map.getBounds().Da.j]
            Dajaxice.maps.clusters(my_js_callback,{'bounds':bounds});
        }
    }
    function dragStart(event){
        updateClustersEnabled = false;
    }

    function dragEnd(event){
        updateClustersEnabled = true;
        updateClusters();
    }
    google.maps.event.addListener(map, 'dragstart', dragStart);
    google.maps.event.addListener(map, 'dragend', dragEnd);
    google.maps.event.addListener(map, 'bounds_changed', updateClusters);
    
        

}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}

{% block content %}
<section>
    <div id="map-canvas" class="col-md-12" style="height:600px;background-color:white; margin-top:20px;"></div>
</section>


<!-- Modal -->
<div class="modal fade col-md-12" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div id="chartDiv" style="position:relative;width:80% !important; height:80% !important;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block javascript_extra %}

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    {% dajaxice_js_import %}

    <script type="text/javascript">

    function normalizeData(data){
        var formatedData = [];
        for (var i =0; i < data.length;i++){
            formatedData.push([Date.parse(data[i].datetime),data[i].data])
        }
        return formatedData;
    }
   function get_data_callback(data){

        console.log(data)
        chartData = normalizeData(data.data)
        console.log(chartData)
        $("#chartDiv").highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: data.site_name
            },
            subtitle: {
                text: 'Source: Randomly generated by M.A. Menarguez',
                x: -20
            },
            xAxis: {
                type: 'datetime',
                // dateTimeLabelFormats: { // don't display the dummy year
                //     month: '%e. %b',
                //     year: '%b'
                // },
                title: {
                    text: 'Date / time'
                }
            },
            tooltip: {
                valueSuffix: " m.a.m's"
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: data.site_name,
                data: chartData 
            }]
        });
        $("#chartDiv").redraw();
   }
  function my_js_callback(data){
            console.log(data);
            var infowindow = new google.maps.InfoWindow({
                      content: '<div id="content"><h3>asdsd</h3></div>'
                });

            for (i in data.data){
                var rowValues = data.data[i]
                var x = parseFloat(rowValues.point.split(",")[0].split(">")[2])
                var y = parseFloat(rowValues.point.split(",")[1].split("<")[0])
                var myLatlng = new google.maps.LatLng(y,x);
                locations.push([rowValues.count,rowValues.id,x,y])
                var icon_url=null
                if (locations[i][0]>1){
                    icon_url='http://thydzik.com/thydzikGoogleMap/markerlink.php?text='+locations[i][0]+'&color=5680FC'
                }
                var marker = new google.maps.Marker({
                    // animation: google.maps.Animation.DROP,
                    position: myLatlng,
                    map: map,
                    title: 'Hello World!',
                    icon: icon_url
                });
                
                markers.push(marker)
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        updateClustersEnabled = false;
                        if (locations[i][0]==1){
                           //Only 1 site, can plot data
                            Dajaxice.maps.get_site_data(get_data_callback,{'site_id':locations[i][1]});
                            $("#myModal").modal()
                        }else{
                            infowindow.setContent(locations[i][0].toString() + ' sites in cluster, Zoom in to view data.');
                            infowindow.open(map, marker);  
                        }
                        
                        updateClustersEnabled = true;
                    }
                })(marker, i));
                markers.push(marker)
            }
        }
        
    </script>


{% endblock %}